<html>
<head></head>
<body>
<p>Your friend <%= user %> claims to have completed the task <%= task %>.</p>
<p>As the coach for this task, you have the final say. Did they really do it?</p>
<p>Please respond before <%= expiration %></p>
<p>Click here to approve: <%= approval %></p>
<p>Click here to deny: <%= denial %></p>
</body>
</html>
